.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 160px);
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.gallery-img{
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 18px;
    transform: translateY(-100%);
    transition: 0.2s;
}

.gallery-img:hover .overlay {
    transform: translateY(0);
}

@media (max-width:786px) {
    .grid-container {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:300px;
        grid-auto-rows: 160px;
    }
}